@media (max-width: 1250px) {
    .logo {
        &__title {
            font-size: 1.2rem;
        }
    }
    .menu {
        &__links li{
            font-size: 0.9rem;
        }
    }
    .btn {
        font-size: 0.9rem;
        padding: 12px;
        width: 100px;
        height: 40px;
        &_big {
            width: 160px;
            font-size: 1.1rem;
        }
        &_very-big {
            width: 160px;
            font-size: 1rem;
        }
    }
    .title {
        font-size: 2.85rem;
    }
    .header {
        &__content {
            margin-top: 70px;
        }
        &__title {
            font-size: 2.9rem;
        }
        &__subtitle {
            margin-top: 20px;
        }
        &__form-search {
            margin-top: 40px;
        }
        &__social {
            margin-top: 75px;
            a::before {
                font-size: 1.3rem;
            }
        }
    }
    .subtitle {
        font-size: 1rem;
    }
    .tools {
        padding-top: 100px;
        &__cards {
            margin-top: 70px;
            justify-content: space-around;
        }
        &__card {
            margin-bottom: 70px;
        }
    }
    .brand {
        padding-top: 130px;
        &__content {
            padding: 40px 60px;
            min-height: 220px;
        }
        &__title {
            font-size: 1.4rem;
        }
        &__wrapper {
            margin-top: 40px;
        }
        &__icon {
            width: 160px;
        }
    }
    .card {
        &_min {
            width: 340px;
        }
    }
    .new-tools {
        padding-top: 120px;
        &__wrapper {
            flex-direction: column;
            align-items: center;
        }
        &__content {
            width: 100%;
            text-align: center;
        }
        &__btn {
            margin-top: 40px;
        }
        &__cards {
            margin-top: 50px;
            width: 80%
        }
    }
    .slider {
        padding: 130px 20px 0 20px;
        &__item {
            width: 90%;
        }
    }
    .form-search {
        &_big {
            max-width: 500px;
        }
        &__input {
            &_big {
                padding: 21px 140px 21px 24px;
            }
        }
    }
    .join {
        padding: 180px 0;
        &__form-search {
            margin-top: 90px;
        }
    }
    .footer {
        padding: 70px 0;
        &__info {
            flex-basis: 25%;
        }
        &__content {
            margin-right: 80px;
        }
        &__subtitle {
            font-size: 0.9rem;
        }
        &__descr {
            font-size: 0.8rem;
        }
        &__title {
            font-size: 1.1rem;
            margin-bottom: 7px;
        }
        &__link {
            font-size: 0.9rem;
            margin-top: 7px;
        }
    }
}


@media (max-width: 991px) {
    .logo {
        &__icon {
            width: 33px;
            height: 33px;
        }
        &__title {
            font-size: 1rem;
        }
    }
    .menu {
        &__links {
            li {
                font-size: 0.8rem;
            }
            li:not(:last-child) {
                margin-right: 2.3em;
            }
        }
    }
    .btn {
        font-size: 0.8rem;
        padding: 12px;
        width: 90px;
        min-height: 35px;
        &__medium {
            width: 95px;
        }
        &__card {
            font-size: 1rem;
        }
        &_big {
            width: 120px;
            font-size: 0.9rem;
            min-height: 45px;
        }
        &_very-big {
            width: 140px;
            font-size: 0.9rem;
        }
    }
    .title {
        font-size: 2.4rem;
    }
    .header {
        padding: 20px 0 0 0;
        &__content {
            margin-top: 50px;
        }
        &__title {
            font-size: 2.5rem;
        }
        &__subtitle {
            margin-top: 15px;
        }
        &__form-search {
            margin-top: 40px;
        }
        &__social {
            margin-top: 55px;
            a::before {
                font-size: 1.2rem;
            }
        }
    }
    .subtitle {
        font-size: 0.9rem;
    }
    .form-search {
        max-width: 400px;
        height: 54px;
        &_big {
            max-width: 470px;
        }
    }
    .tools {
        padding-top: 50px;
        &__cards {
            margin-top: 40px;
            justify-content: space-between;
        }
        &__card {
            margin-bottom: 40px;
        }
    }
    .card {
        width: 350px;
        padding: 20px;
        min-height: 240px;
        &__img {
            width: 50px;
        }
        &__title {
            font-size: 1.3rem;
        }
        &__price {
            font-size: 0.9rem
        }
        &__descr {
            font-size: 0.8rem;
        }
    }
    .brand {
        padding-top: 80px;
        &__content {
            padding: 20px 30px;
            min-height: 150px;
        }
        &__title {
            font-size: 1.4rem;
        }
        &__wrapper {
            margin-top: 40px;
        }
        &__icon {
            width: 140px;
        }
    }
    .new-tools {
        padding-top: 90px;
        &__cards {
            width: 100%;
            justify-content: space-around;
        }
    }
    .arrow {
        width: 16px;
        height: 16px;
    }
    .slider {
        padding: 90px 20px 0 20px;
        &__descr {
            font-size: 0.7rem;
        }
        &__quoutes {
            width: 70px;
            bottom: 65%;
            left: 54%;
        }
        &__img {
            width: 50%;
        }
        &__title {
            font-size: 1rem;
        }
        &__subtitle {
            font-size: 0.8rem;
        }
        &__count {
            margin-top: 50px;
            max-width: 130px;
        }
        &__step {
            width: 30px;
        }
    }
    .join {
        padding: 100px 0;
        &__subtitle {
            margin-top: 20px;
        }
        &__form-search {
            margin-top: 60px;
        }
    }
    .footer {
        padding: 60px 0;
        &__content {
            margin-right: 20px;
            flex-basis: 60%;
        }
        &__subtitle {
            font-size: 0.8rem;
            margin-top: 18px;
        }
        &__descr {
            font-size: 0.7rem;
            margin-top: 15px;
        }
        &__title {
            font-size: 1rem;
            margin-bottom: 6px;
        }
        &__link {
            font-size: 0.8rem;
            margin-top: 6px;
        }
    }
}


@media (max-width: 767px) {
    .container {
        padding: 0 15px;
    }
    .black {
        display: block;
    }
    .logo {
        margin-top: 5px;
        z-index: 1;
        &__icon {
            width: 33px;
            height: 33px;
        }
        &__title {
            font-size: 0.9rem;
        }
    }
    .menu {
        &__links {
            display: none;
        }
    }
    .entry {
        display: none;
    }
    .btn {
        font-size: 0.7rem;
        padding: 6px;
        width: 80px;
        height: 30px;
        &__card {
            font-size: 0.8rem;
        }
        &_big {
            width: 110px;
            font-size: 0.9rem;
        }
        &_very-big {
            width: 110px;
        }
    }
    .title {
        font-size: 1.9rem;
    }
    .header {
        background-size: 50% 81%;
        padding: 0;
        &__content {
            margin-top: 20px;
        }
        &__title {
            font-size: 2rem;
        }
        &__subtitle {
            margin-top: 10px;
        }
        &__form-search {
            margin-top: 30px;
        }
        &__social {
            margin-top: 30px;
            a::before {
                font-size: 1rem;
            }
        }
    }
    .subtitle {
        font-size: 0.8rem;
    }
    .form-search {
        max-width: 300px;
        height: 48px;
        &_big {
            max-width: 360px;
        }
        &__input {
            padding: 21px 100px 21px 35px;
            &_big {
                padding: 21px 110px 21px 21px;
            }
        }
        &__input::placeholder {
            font-size: 0.8rem;
        }
    }
    .icon-search:before {
        font-size: 1.1rem;
        margin-left: 0.7em;
        color: $mainSemiDark;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
    }
    
    .tools {
        padding-top: 30px;
        &__subtitle {
            margin-top: 0.9em;
        }
        &__cards {
            margin-top: 20px;
        }
        &__card {
            margin-bottom: 20px;
        }
    }
    .card {
        width: 270px;
        padding: 15px;
        min-height: 200px;
        &__img {
            width: 40px;
            margin-right: 15px;
        }
        &__title {
            font-size: 1.2rem;
        }
        &__price {
            font-size: 0.7rem
        }
        &__descr {
            font-size: 0.75rem;
            margin-top: 15px;
        }
        &__footer {
            padding: 0;
            margin-top: 15px;
        }
        &__icon {
            font-size: 1rem;
        }
    }
    .brand {
        padding-top: 60px;
        &__content {
            padding: 15px 10px;
            min-height: 100px;
        }
        &__title {
            font-size: 1.2rem;
        }
        &__wrapper {
            margin-top: 25px;
            flex-wrap: wrap;
        }
        &__icon {
            width: 120px;
        }
    }
    .new-tools {
        padding-top: 60px;
        &__subtitle {
            margin-top: 1em;
        }
        &__btn {
            margin-top: 20px;
        }
        &__cards {
            margin-top: 30px;
        }
        &__card {
            margin-bottom: 5px;
        }
    }
    .slider {
        padding: 40px 20px 0 20px;
        &__descr {
            font-size: 0.65rem;
        }
        &__member {
            padding: 8px 15px;
        }
        &__title {
            font-size: 0.9rem;
        }
        &__subtitle {
            font-size: 0.7rem;
        }
        &__count {
            margin-top: 40px;
            width: 120px;
        }
    }
    .join {
        padding: 70px 0;
        &__subtitle {
            margin-top: 15px;
        }
        &__form-search {
            margin-top: 40px;
        }
    }
    .footer {
        padding: 45px 0;
        &__content {
            margin-right: 0;
            flex-basis: 68%;
            margin-top: 10px;
        }
        &__subtitle {
            font-size: 0.7rem;
            margin-top: 14px;
        }
        &__descr {
            font-size: 0.6rem;
            margin-top: 10px;
        }
        &__title {
            font-size: 0.85rem;
            margin-bottom: 5px;
        }
        &__link {
            font-size: 0.7rem;
            margin-top: 5px;
        }
    }
}


@media (max-width: 575px) {
    .container {
        padding: 0 10px;
    }
    .title {
        font-size: 1.55rem;
    }
    .header {
        background-size: auto 81% ;
        padding: 0;
        &__content {
            margin-top: 20px;
        }
        &__title {
            font-size: 1.6rem;
        }
        &__subtitle {
            margin-top: 10px;
        }
        &__form-search {
            margin-top: 30px;
        }
        &__social {
            margin-top: 30px;
            a::before {
                font-size: 1rem;
            }
        }
    }
    .subtitle {
        font-size: 0.7rem;
    }
    .tools {
        padding-top: 20px;
        &__cards {
            margin-top: 15px;
            justify-content: space-around;
        }
        &__card {
            margin-bottom: 8px;
        }
    }
    .card {
        width: 300px;
        min-height: 150px;
    }
    .brand {
        padding-top: 40px;
        &__content {
            padding: 15px 10px 5px 10px;
            min-height: 100px;
        }
        &__title {
            font-size: 1rem;
        }
        &__wrapper {
            margin-top: 10px;
            justify-content: space-around;
        }
        &__icon {
            margin-bottom: 10px;
        }
    }
    .new-tools {
        padding-top: 40px;
        &__btn {
            margin-top: 15px;
        }
        &__cards {
            margin-top: 20px;
        }
    }
    .slider {
        padding: 20px 10px 0 10px;
        &__item {
            flex-direction: column;
        }
        &__img {
            width: 75%;
        }
        &__descr {
            width: 80%;
            text-align: center;
        }
        &__member {
            padding: 5px 10px;
        }
        &__title {
            font-size: 0.8rem;
        }
        &__subtitle {
            font-size: 0.6rem;
        }
        &__count {
            margin-top: 20px;
            max-width: 100px;
        }
        &__step {
            width: 25px;
        }
    }
    .form-search {
        &_big {
            max-width: 280px;
        }
        &__input {
            padding: 21px 110px 21px 18px;
        }
    }
    .join {
        padding: 40px 0;
        &__subtitle {
            margin-top: 10px;
        }
        &__form-search {
            margin-top: 30px;
        }
    }
    .footer {
        padding: 20px 0;
        &__wrapper {
            flex-wrap: wrap;
        }
        &__info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-basis: 100%;
        }
        &__content {
            margin-right: 0;
            flex-basis: 100%;
            margin-top: 20px;
        }
        &__subtitle {
            font-size: 0.8rem;
            margin-top: 5px;
        }
        &__descr {
            display: none;
        }
        &__title {
            font-size: 0.75rem;
        }
        &__link {
            font-size: 0.6rem;
        }
    }
}