$mainDark: #1E252B;
$secondDark: #283036;
$mainOrange: #FF6E30;
$mainSemiDark: rgba(255, 255, 255, 0.55);
$mainWhite: rgba(255, 255, 255, 0.9);
$mainSemiWhite: rgba(255, 255, 255, 0.78);
$colorActivePrice: #FFA537;
$colorPrice: rgba(255, 165, 55, 0.55);