@import 'base/variables';
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  background-color: $mainDark;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
}

/* Удаляем стандартную стилизацию для всех ul и Ol, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1274px;
  margin: 0 auto;
  padding: 0 25px;
}

@import 'blocks/arrow';
@import 'blocks/menu';
@import 'blocks/logo';
@import 'blocks/buttons';
@import 'blocks/titles';
@import 'blocks/form';
@import 'blocks/header';
@import 'blocks/card';
@import 'blocks/tools';
@import 'blocks/brand';
@import 'blocks/new-tools';
@import 'blocks/slider';
@import 'blocks/join';
@import 'base/media';


