.burger {
    z-index: 10;
    display: none;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
}
.burger._active span {
    transform: scale(0) translate(0px, -50%);
}
.burger._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
}
.burger._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
}
.burger span,
.burger::before,
.burger::after{
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: white;
}
.burger::before,
.burger::after {
    content: "";
}
.burger::before {
    top: 0;
}
.burger::after {
    bottom: 0;
}
.burger span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
}