.btn {
    width: 118px;
    min-height: 48px;
    padding: 12px 26px;
    color: white;
    background-color: $mainOrange;
    border-radius: 8px;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    &_clear {
        color: $mainSemiDark;
        background-color: $mainDark;
    }
    &_clear:hover {
        border: 0.5px solid $mainOrange;
        color: $mainOrange;
        transition: 0.3s;
    }
    &__medium {
        width: 130px;
    }
}
.btn:hover {
    background-color: $mainDark;
    border: 0.5px solid $mainOrange;
    color: $mainOrange;
    transition: 0.3s;
}