.form-search {
    position: relative;
    max-width: 500px;
    height: 64px;
    &_big {
        max-width: 549px;
    }
    &__input {
        background: #283036;
        border-radius: 15px;
        width: 100%;
        height: 100%;
        border: 1px solid #33393F;
        padding: 21px 150px 21px 55px;
        color: $mainSemiDark;
        &_big {
            padding: 21px 170px 21px 24px;
        }
    }
    &__input::placeholder {
        font-weight: 400;
        font-size: 0.875rem;
    }
    &__btn {
        position: absolute;
        right: 1.7%;
        top: 50%;
        transform: translateY(-50%);
    }
}
.icon-search:before {
    font-size: 1.5rem;
    position: absolute;
    margin-left: 0.8em;
    color: $mainSemiDark;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}