.logo {
    display: flex;
    align-items: center;
    &__icon {
        width: 38px;
        height: 38px;
    }
    &__title {
        font-weight: 600;
        font-size: 1.375rem;
        color: white;
        margin-left: 0.54em;
    }
}