.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        li {
            font-size: 1rem;
        }
        li a{
            font-weight: 500;
            color: $mainSemiDark;
        }
        li:not(:last-child) {
            margin-right: 2.625em;
        }
        li a:hover {
            transition: 0.3s;
            color: $mainOrange;
        }
    }
}
